<div class="animation-page">
  <h1>Animations</h1>
  @if(pageState() === "game"){
  <gamefield [difficulty]="animationForm.value.diff!" (resetGameEvent)="resetGame()"></gamefield>
  } @if(pageState() === "settings"){
  <form class="settings-container" [formGroup]="animationForm">
    <label
      >Game difficulty:
      <select name="difficulty-settings" id="difficulty-settings" formControlName="diff">
        <option value="easy">Easy</option>
        <option value="normal" selected>Normal</option>
        <option value="hard">Hard</option>
        <option value="extreme">Extreme</option>
      </select></label
    >
    <button (click)="startGame()">Start Game</button>
  </form>
  } @if(pageState() === "gameOver"){
  <div class="game-over-container">
    <h2>Game Over!</h2>
    <p>Great job! You've completed the game.</p>
    <button (click)="resetGame()">Play Again</button>
  </div>
  }
</div>
