.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.todo-card {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background-color: rgb(198, 196, 196);
  padding: 5px 10px;
  border-radius: 5px;
  border: rgb(114, 113, 113) solid 2px;

  > div {
    display: flex;
    gap: 5px;
  }

  > button {
    background: none;
    border: none;
    font-weight: 800;
    cursor: pointer;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
    font-weight: 500;
  }
}

p,
input {
  margin: 0;
  font-weight: 800;
}

input {
  cursor: pointer;
}

.stateButton {
  margin-top: 20px;
}
