@if (playing){
<div #gameField class="game-field" (mousemove)="onMouseMove($event)">
  <div
    class="player"
    [style.left.px]="playerPosX() - playerSize / 2"
    [style.top.px]="playerPosY() - playerSize / 2"
    [style.width.px]="playerSize"
  ></div>
  @for (bomb of bombList; track bomb.id){
  <bomb
    [bombId]="bomb.id"
    [bombWidth]="bomb.width"
    [bombPosX]="bomb.x"
    [bombPosY]="bomb.y"
    [bombBlastRadius]="bomb.blastRadius"
    (explosionStartEvent)="onExplosionStart($event)"
    (explosionEndEvent)="onExplosionEnd($event)"
  />
  }
</div>
} @else {
<div class="game-over-container">
  <h1>GAME OVER</h1>
  <p>score: {{ score }}</p>
  <button (click)="resetGame()">Restart</button>
</div>
}
