.controller-page {
  width: 100vw;
  height: 100vh;

  position: relative;

  .car {
    z-index: 3;
  }

  .dirt {
    position: absolute;
    z-index: 2;

    width: 10px;
    height: 10px;

    background: rgb(34, 34, 34);
  }
}
