.game-field {
  border: black dotted 2px;
  border-radius: 10px;
  width: 90vw;
  height: 80vh;

  position: relative;

  overflow: hidden;

  .player {
    position: absolute;

    border-radius: 10px;
    transform-origin: center;
    aspect-ratio: 1/1;
    background: green;

    z-index: 9;
  }

  &:hover {
    cursor: none;
  }
}
