<div class="example-container">
    <div class="example-container__item">
      <h2>Create draggable elements</h2>
      <cdk-drag-drop-overview-example />
    </div>
    <div class="example-container__item">
      <h2>Create a list of reordable elements</h2>
      <cdk-drag-drop-sorting-example />
    </div>
    <div class="example-container__item">
      <h2>Transfer draggable elements between lists</h2>
      <cdk-drag-drop-connected-sorting-example />
    </div>
    <div class="example-container__item">
      <h2>Selective dragging</h2>
      <cdk-drag-drop-enter-predicate-example />
    </div>
    <div class="example-container__item">
      <h2>Customize drag handle</h2>
      <cdk-drag-drop-handle-example />
    </div>
    <div class="example-container__item">
      <h2>Customize drag preview</h2>
      <cdk-drag-drop-custom-preview-example />
    </div>
    <div class="example-container__item">
      <h2>Customize drag placeholder</h2>
      <cdk-drag-drop-custom-placeholder-example />
    </div>
    <div class="example-container__item">
      <h2>Customize drag root element</h2>
      <cdk-drag-drop-root-element-example />
    </div>
    <div class="example-container__item">
      <h2>Set DOM position of a draggable element</h2>
      <cdk-drag-drop-free-drag-position-example />
    </div>
    <div class="example-container__item">
      <h2>Restrict movement within an element</h2>
      <cdk-drag-drop-boundary-example />
    </div>
    <div class="example-container__item">
      <h2>Restrict movement along an axis</h2>
      <cdk-drag-drop-axis-lock-example />
    </div>
    <div class="example-container__item">
      <h2>Delay dragging</h2>
      <cdk-drag-drop-delay-example />
    </div>
    <div class="example-container__item">
      <h2>Disable dragging</h2>
      <cdk-drag-drop-disabled-example />
    </div>
    <div class="example-container__item">
      <h2>List orientation</h2>
      <cdk-drag-drop-horizontal-sorting-example />
    </div>
    <div class="example-container__item">
      <h2>List wrapping</h2>
      <cdk-drag-drop-mixed-sorting-example />
    </div>
    <div class="example-container__item">
      <h2>Selective sorting</h2>
      <cdk-drag-drop-sort-predicate-example />
    </div>
    <div class="example-container__item">
      <h2>Disable sorting</h2>
      <cdk-drag-drop-disabled-sorting-example />
    </div>
    <div class="example-container__item">
      <h2>Copying items between lists</h2>
      <cdk-drag-drop-copy-list-example />
    </div>
  </div>