<div class="drag-game-container">
  <div
    cdkDropList
    id="puzzleBox"
    [cdkDropListData]="pieces"
    [cdkDropListConnectedTo]="gridIds"
    cdkDropListOrientation="mixed"
    class="puzzle-box"
    (cdkDropListDropped)="drop($event)"
  >
    @for (piece of pieces; track piece.item) {
    <div class="puzzle-piece" cdkDrag>
      <img
        [src]="piece.img"
        [style.left.px]="piece.y"
        [style.top.px]="piece.x"
        [style.width.px]="imgWidth"
        [style.height.px]="imgHeight"
        alt="img"
      />
    </div>
    }
  </div>

  <div class="puzzle-playground">
    <div
      class="grid"
      [style.grid-template-rows]="'repeat(' + columns + ', 80px)'"
      [style.grid-template-columns]="'repeat(' + rows + ', 80px)'"
    >
      @for (id of gridIds; track id) {
      <div
        class="grid__item"
        [id]="id"
        cdkDropList
        [cdkDropListData]="gridData[id]"
        [cdkDropListConnectedTo]="connectedLists"
        [cdkDropListEnterPredicate]="canEnter"
        (cdkDropListDropped)="drop($event)"
      >
        @for (piece of gridData[id]; track piece) {
        <div class="puzzle-piece" cdkDrag>
          <img
            [src]="piece.img"
            [style.left.px]="piece.y"
            [style.top.px]="piece.x"
            [style.width.px]="imgWidth"
            [style.height.px]="imgHeight"
            alt="img"
          />
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>
